<div class="container">

 <div class="row">
  <h2>注文情報確認</h2>
 </div>



 <% @cart_products.each do |cart_product| %>
  <% product_price = cart_product.product.price * 1.08 %>
  <div class="d-none d-lg-block space">
   <div class="row">
    <div class="col-lg-5"><h4>商品名</h4></div>
    <div class="col-lg-2"><h4>単価（税込）</h4></div>
    <div class="col-lg-2"><h4>数量</h4></div>
    <div class="col-lg-2"><h4>小計</h4></div>
   </div>
   <div class="col-lg-5">
    <%= cart_product.product.name %>
   </div>
   <div class="col-lg-2">
    <%= product_price.floor.to_s(:delimited) %>
    </div>
    <div class="col-lg-2">
     <%= cart_product.quantity %>
    </div>
    <div class="col-lg-2">
     <%= (cart_product.product.price * 1.08 * cart_product.quantity).floor.to_s(:delimited) %>
    </div>
  <% end %>

    <div class="row">
        <div class="col-lg-5">
          <strong>送料</strong>
          <%= @freight %>円
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
          <strong>商品合計</strong>
       <%= @total_price.floor.to_s(:delimited)  %>円
        </div>
    </div>

        <div class="row">
          <div class="col-lg-5">
            <strong>請求金額</strong>
                  <%= (@total_price. + @freight).floor.to_s(:delimited) %>円
          </div>
        </div>

  <div class="row">
    <div class="col-lg-2">
      <h3>支払方法</h3>
      <%= @order.how_to_pay %>
    </div>
  </div>


 <div class="row">
    <div class="col-lg-5">
      <h3>お届け先</h3>
    </div>
    <div class="col-lg-2">
      <%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
    </div>
 </div>


  <%= form_with(model: @order, url: customers_orders_path, local: true) do |f| %>
  <%= f.hidden_field :customer_id, value: @current_customer.id %>
  <%= f.hidden_field :how_to_pay, value: @order.how_to_pay %>
  <%= f.hidden_field :postal_code, value: @order.postal_code %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.hidden_field :freight, value: @freight %>
  <%= f.hidden_field :price, value: @total_price %>
  <%= f.hidden_field :status, value: "入金待ち" %>

<div class="row">
  <div class="col-lg-5">
  <%= f.submit "購入を確定する", class: "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>


</div>

