<div class="top-all">
<div class="container">
<div class="row">
	<section class="cutomer-order-index">
		<h3>注文履歴一覧</h3>
		<table class="table table-bordered">
			<thead style="background-color: #112a63;">
				<tr style="color: #f1efe7;">
					<th class="col-xs-1">注文日</th>
					<th class="col-xs-3">配送先</th>
					<th class="col-xs-2">注文商品</th>
					<th class="col-xs-1">支払金額</th>
					<th class="col-xs-1">ステータス</th>
					<th class="col-xs-1">注文詳細</th>
				</tr>
			</thead>
		<% @orders.each do |order| %>
			<tr>
				<td class="order-index-table"><%= order.created_at.strftime('%Y/%m/%d') %></td>
				<td  class="order-index-table">
					<%= order.postal_code %><br>
					<%= order.address %><br>
					<%= order.name %></td>
				<td class="order-index-table">
					<% order.product_orders.each do |product_order| %>
						<%= product_order.product.name %><br>
					<% end %>
				</td>
				<td  class="order-index-table"><%= order.price.to_s(:delimited) %></td>
				<td  class="order-index-table"><%= order.status %></td>
				<td  class="order-index-table"><%= link_to "表示する", customers_order_path(order.id), class: "btn btn-primary col-xs-offset-2" %></td>
			</tr>
		<% end %>
		</table>
		<%= paginate @orders %>
</div>
</div>
</div>