
<div class="top-all">
  <div class="container">
    <div class="row">
      <h2>注文情報入力</h2>
      
       <% if @order.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <%= @order.errors.count %>件のエラー
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
　　<% end %>
      
       <%= form_with(model: @order, local: true, url: {action: 'confirm'}) do |f| %>
      <section class="how-to-pay">
        <h3>支払い方法</h3>
        <strong>　<%= f.radio_button :how_to_pay, "クレジットカード支払い", {checked: true} %> クレジットカード</strong><br>
        <strong>　<%= f.radio_button :how_to_pay, "銀行振込", {} %> 銀行振込</strong>
      </section>
      <section class="order-address">
        <h3>お届け先</h3>
        <strong>　<%= f.radio_button :address_option, "A", {checked: true} %>ご自身の住所</strong>
        <div class="col-xs-offset-1 address-select">
          <strong>
            <%= @customer.postal_code %>
            <%= @customer.address %><br>
            <%= @customer.last_name %>
            <%= @customer.first_name %>
            
          </strong>

        </div>

        <strong>　<%= f.radio_button :address_option, "B", {} %> 登録済住所から選択</strong>
        <div class="col-xs-offset-1 address-select">
          <div class=" col-xs-8 ">
            <%= f.collection_select :addressparams, @addressess, :id, :addressname, {prompt: false},class: "form-control" %><br>
          </div>
        </div>
        <div class="col-xs-12">
          <strong><%= f.radio_button :address_option, "C", {} %> 新しいお届け先</strong>
          <div class="address-select">
            <div class="col-xs-12 new-address">
              <div class="col-xs-3">
                <p>郵便番号(ハイフンなし)</p>
              </div>
              <div class="col-xs-3">
                <%= f.text_field :postal_code, class: 'form-control' %>
              </div>
            </div>

            <div class="col-xs-12 new-address">
              <div class="col-xs-3">
                <p>住所</p>
              </div>
              <div class="col-xs-9">
                <%= f.text_field :address, class: 'form-control' %>
              </div>
            </div>
          </div>


          <div class="col-xs-12 new-address">
            <div class="col-xs-3">
              <p>宛名</p>
            </div>
            <div class="col-xs-3">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>
      </section>
      <div class="col-xs-3 col-xs-offset-5">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




