<div class="top-all">
	<div class="container">
		<h2>ショッピングカート</h2>
		<div class="empty-btn">
		<%= link_to "カートを空にする", customers_cart_products_empty_path,method: :delete, class: "btn btn-danger col-xs-offset-10"%>
		</div>
		<table class="table table-bordered">
			<thead  style="background-color: #112a63">
				<tr style="color: #f1efe7;">
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @cart_products.each do |cart_product| %>
				<tr>
					<td class="col-xs-3">
						<%= cart_product.product.name %>
					</td>
					<td class="col-xs-2">
						<%= cart_product.product.price.to_s(:delimited) %>
					</td>
					<td class="form-group col-xs-2">
						<%= form_with model: cart_product, url: customers_cart_product_path(cart_product),local: true do |f| %>
						<%= f.number_field :cart_product,value: cart_product.quantity,min: 1, max: 100,class: "form-number" %>
						<%= f.submit "変更",class: "btn btn-info" %>
						<% end %>
					</td>
					<td class="col-xs-2">
						<%= (cart_product.product.price * cart_product.quantity).to_s(:delimited) %>
					</td>
					<td class="col-xs-1">
						<%= link_to "削除する", customers_cart_product_path(cart_product), method: :delete, class: "btn btn-danger" %>
					</td>
				</tr>
			<% end %>

			</tbody>
		</table>
		<%= link_to "買い物を続ける",root_path, class: "btn btn-primary"%>

		<div class="total-price-box col-xs-offset-10">
			<table class="table table-bordered">
				<td style="background-color: #112a63;color: #f1efe7;">合計金額</td>
				<td>0000</td>
			</table>
		</div>
		<div class="info-link col-xs-offset-5">
			<%= link_to "情報入力に進む",new_customers_order_path, class: "btn btn-warning btn-lg"%>
		</div>

</div>