<div class="top-all">
<div class="container">
<div class="row">
	<div class="col-xs-2">
		<%= render 'homes/category_search', categories: @categories %>
	</div>
	<div class="col-xs-10">
		<% if @category_id.blank? %>
		<h2>商品一覧</h2>
		<p>全<%= @products.count %>件</p>
		<% else %>
		<h2><%= @category.name %>一覧</h2>
		<p>全<%= @products.count %>件</p>
		<% end %>
		<% @products.each do |product| %>
		<% product_price = product.price * 1.08 %>
			<% if product.status == true %>
				<div class="col-xs-3 product-box">
					<%= attachment_image_tag product, :image, :fill, 200, 150, fallback: "no_image.jpg" %>
					<%= link_to product.name, customers_product_path(product), class: "product-name" %><br>
					￥<%= product_price.floor.to_s(:delimited) %>
				</div>
			<% end %>
		<% end %>
		<%= paginate @products %>
	</div>
</div>
</div>
</div>