<table class="table table-hover table-inverse">

  <% if @range == '1' %>
  <h2>Customers search for '<%= params[:word] %>'</h2>

  <thead>
     <tr>
      <th>name</th>
      <th>kana</th>
      <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
    <% @customer.each do |customer| %>
     <tr>
      <td><%= customer.last_name %><%= customer.first_name %></td>
      <td><%= customer.last_name_kana %><%= customer.first_name_kana %></td>
      <td><%= link_to "編集する", admins_customer_path(customer), class: "customer_#{customer.id} btn btn-primary" %></td>
     </tr>
    <% end %>
   </tbody>


  <% elsif @range == '2' %>

  <h2>Products search for '<%= params[:word] %>'</h2>

  <thead>
    <tr>
     <tr>
      <th>name</th>
      <th colspan="3"></th>
     </tr>
  </thead>
  <tbody>
     <% @product.each do |product| %>
     <tr>
      <td>
       <%= product.name %>
      </td>
      <td><%= link_to "編集する", admins_product_path(product.id), class: "product_#{product.id} btn btn-primary" %></td>
     </tr>
     <% end %>
  </tbody>


  <% else %>
  <h2>Categories search for '<%= params[:word] %>'</h2>

  <thead>
     <tr>
      <th>name</th>
      <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
    <% @category.each do |category| %>
     <tr>
      <%= category.name %>
      <td><%= link_to "編集する", edit_admins_category_path(category),class: "btn btn-primary" %></td>
     </tr>
    <% end %>
   </tbody>

   <% end %>
 </table>