<div class="top-all">
<div class="container">
<div class="row">
	<section class="product-new">
		<h3>商品編集</h3>
		<% if @product.errors.any? %>
<p><%= pluralize(@product.errors.count, "error") %>errors prohibited this obj from being saved:</p>
<ul>
	<% @product.errors.full_messages.each do |message| %>
	<li><%= message %></li>
</ul>
	<% end %>
	<% end %>
		<%= form_for(@product, url: {controller: 'admins/products', action: 'update'}) do |f| %>
		<div class="col-xs-4 col-xs-offset-2">
			<%= attachment_image_tag @product, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150", class: "product-edit" %>
			<%= f.attachment_field :image, id: "edit-image" %>
		</div>
		<div class="col-xs-6">
			<%= f.label :商品名　　　　 %>
			<%= f.text_field :name, class: "name-form" %><br>
			<%= f.label :商品説明　　　, class: "form-group" %>
			<%= f.text_area :desctiption, class: "form-group" %><br>
			<%= f.label :ジャンル　　　 %>
			<%= f.select :category_id, Category.all.map {|category| [category.name, category.id]}, class: "form-group" %><br>
			<%= f.label :税抜価格　　　 %>
			<%= f.text_field :price, class: "form-group" %>円<br>
			<%= f.label :販売ステータス %>
			<%= f.select :status, {'販売中': true,'売切れ': false}, class: "form-group" %>
		</div>
		<div class="col-xs-offset-10">
			<%= f.submit '変更を保存', class: "btn btn-info" %>
		</div>
		<% end %>
	</section>
</div>
</div>
</div>