<div class="top-all">
<div class="container">
<div class="row">
	<section class="product-new">
		<h3>商品新規登録</h3>
		<% if @product.errors.any? %>
<p><%= pluralize(@product.errors.count, "error") %>perrors prohibited this obj from being saved:</p>
<ul>
	<% @product.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
	<% end %>
		<%= form_for(@product, url: {controller: 'admins/products', action: 'create'}) do |f| %>
		<div class="col-xs-4 col-xs-offset-2">
			<%= f.attachment_field :image %>
		</div>
		<div class="col-xs-6">
			<%= f.label :商品名　　　　 %>
			<%= f.text_field :name, class: "name-form" %><br>
			<%= f.label :商品説明　　　, class: "form-group" %>
			<%= f.text_area :desctiption, class: "form-group" %><br>
			<%= f.label :ジャンル　　　 %>
			<%= f.select :category_id, {'プリン': 2}, class: "form-group" %><br>
			<%= f.label :税抜価格　　　 %>
			<%= f.text_field :price, class: "form-group" %>円<br>
			<%= f.label :販売ステータス %>
			<%= f.select :status, {'販売中': true,'売切れ': false}, class: "form-group" %>
		</div>
		<div class="col-xs-offset-10">
			<%= f.submit '新規登録', class: "btn btn-info" %>
		</div>
		<% end %>
	</section>
</div>
</div>
</div>