<div class="top-all">
	<div class="container">
		<div class="row">
			<h3>注文履歴詳細</h3>
				<table>

					  <tr>
					    <th>購入者</th>
					    <td class="col-xs-3">
								<%= @order.customer.first_name %>
								<%= @order.customer.last_name %>

					    </td>
					  </tr>
					    <tr>
					    <th>配送先</th>
					    <td class="col-xs-3">
								<%= @order.address %>
					    </td>
					  </tr>
					  <tr>
					    <th>支払方法</th>
					    <td class="col-xs-3">
								<%= @order.how_to_pay %>
					    </td>
					  </tr>
					  <tr>
					    <th>注文ステータス</th>
					    <td class="col-xs-3">
					    	<%= form_with url:admins_order_path,method: :patch, local: true do |f| %>
							<%= f.select :status, Order.statuses.keys.to_a ,{} %>
							<%= f.submit "変更",class: "btn btn-info" %>
							<% end %>
					    </td>
					  </tr>
				</table>

				<table class="table">
					<thead style="background-color: #112a63;">
						<tr style="color: #f1efe7;">
							<th>商品名</th>
							<th>単価（税込）</th>
							<th>数量</th>
							<th>小計</th>
							<th>製作ステータス</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<% @product_orders.each do |product_order| %>
						<tr>
							<td>
								<%= product_order.product.name%>
							</td>
							<td>
								<%= product_order.price.to_s(:delimited) %>
							</td>
							<td>
								<%= product_order.quantity %>
							</td>
							<td>
								<%= (product_order.price * product_order.quantity).to_s(:delimited) %>
							</td>
							<td>
							<%= form_with url: admins_path,method: :patch, local: true do |f| %>
							<%= f.select :status, ProductOrder.statuses.keys.to_a ,{} %>
							</td>
							<td>
							<%= f.submit "変更",class: "btn btn-info" %>
							<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<table>
					  <tr>
					    <th>商品合計</th>
					    <td class="col-xs-3">
					    <%= @order.price.to_s(:delimited) %>円
						</td>
					  </tr>
					    <tr>
					    <th>送料</th>
					    <td class="col-xs-3">
					    <%= @order.freight %>円
						</td>
					  </tr>
					  <tr>
					    <th>請求金額合計</th>
					    <td class="col-xs-3">
					    <%= (@order.price + @order.freight).to_s(:delimited) %>円
						</td>
					  </tr>
				</table>
		</div>
	</div>
</div>