<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav-height">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/logo.jpg" style="height: 100px;">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarEexample2">
      <ul class="nav navbar-nav navbar-right nav-icon">
        <% if customer_signed_in? %>
          <li><%= link_to "マイページ", customers_customers_path, class: "btn btn-style menu-btn" %></li>
          <li ><%= link_to "商品一覧", customers_products_path, class: "btn btn-style menu-btn" %></li>
          <li><%= link_to "カート", customers_cart_products_path, class: "btn  menu-btn btn-style" %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "btn btn-warning btn-style" %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "商品一覧", admins_products_path, class: "btn btn-style menu-btn" %></li>
          <li ><%= link_to "会員一覧", admins_customers_path, class: "btn btn-style menu-btn" %></li>
          <li><%= link_to "注文履歴一覧", admins_orders_path, class: "btn btn-style menu-btn" %></li>
          <li ><%= link_to "ジャンル一覧", admins_categories_path, class: "btn btn-style menu-btn" %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-warning btn-style" %></li>
        <% else %>
          <li><%= link_to "About", home_about_path, class: "btn btn-style menu-btn" %></li>
          <li ><%= link_to "商品一覧", customers_products_path, class: "btn btn-style menu-btn" %></li>
          <li><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-info btn-style" %></li>
          <li><%= link_to "ログイン", new_customer_session_path, class: "btn btn-warning btn-style" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    </header>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
